#submit{
    display: inline-block;
    width: 100px;
    height: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,255,110,1) 1%, rgba(0,212,255,1) 100%);
    border: 2px solid linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,255,110,1) 1%, rgba(0,212,255,1) 100%);
}

.box1{
    /* border: 1px solid black; */
    padding: 20px;
    width: 280px;
    background-color: white;
    border-radius: 2px;
    margin: 40px auto;
}
a{
    color: #3E8E7E;
}
body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,255,110,1) 1%, rgba(0,212,255,1) 100%);
}

.small{
    color: darkgray;
    font-size: 15px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
i {
    display: inline-block;
    width: 20px;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 1px 0px 0px 1px;
    background-color: rgb(224, 222, 222);
  }